Repository kleros/linguo-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

fix: fixed type of task `id` param
  src/handlers/checkNewTasks.js
  src/linguo-api/createApiInstance.js
Due: eslint --fix

fix: added permission to lambda to query byStatus index on tasks table
  serverless.yml
Due: none

fix: increased timeout for functions
  serverless.yml
  src/handlers/checkIncompleteTasks.js
Due: eslint --fix

fix: increased timeout for functions to 1 minute
  package.json
  serverless.yml
  yarn.lock
Due: prettier --write

fix: fixed not returning from writeSingleBatch function
  src/handlers/checkTasksAwaitingReview.js
  src/off-chain-storage/utils/index.js
Due: eslint --fix

chore(deps): added new @kleros/linguo-contracts package dependency
  package.json
  serverless.yml
  src/linguo-api/apiInstancesByAddress.js
  yarn.lock
Due: prettier --write, eslint --fix

refactor: removed LinguoToken compatibility
  .env.example
  src/handlers/checkResolvedTasks.js
  src/linguo-api/apiInstancesByAddress.js
  src/linguo-api/createApiFacade.js
  src/linguo-api/createApiInstance.js
  src/linguo-api/getPastEvents.js
Due: eslint --fix

fix: fixed fetching accounts with pending withdrawals
  src/linguo-api/createApiInstance.js
Due: eslint --fix

refactor: changed façade to support multiple contracts per language pair
  serverless.yml
  src/linguo-api/apiInstancesByAddress.js
Due: eslint --fix

chore: updated Linguo contracts dependency
  package.json
  yarn.lock
Due: prettier --write

feat: introduced e-mail settings saving and fetching
  package.json
  serverless.yml
  src/handler.js
  src/handlers/lifecycle/checkIncompleteTasks.js
  src/handlers/lifecycle/checkNewTasks.js
  src/handlers/lifecycle/checkResolvedTasks.js
  src/handlers/lifecycle/checkTasksAwaitingReview.js
  src/handlers/lifecycle/checkTasksInDispute.js
  src/handlers/lifecycle/fullSync.js
  src/handlers/lifecycle/index.js
  src/handlers/user-settings/getUserSettings.js
  src/handlers/user-settings/index.js
  src/handlers/user-settings/saveUserSettings.js
  src/off-chain-storage/userSettings.js
  src/off-chain-storage/utils/index.js
  src/schemas/saveUserSettings.json
Due: prettier --write, eslint --fix

feat: introduced webhook for Linguo and Kleros Liquid events
  .env.example
  package.json
  serverless.yml
  src/handler.js
  src/handlers/events-webhook/index.js
  src/handlers/task-lifecycle/checkIncompleteTasks.js
  src/handlers/task-lifecycle/checkNewTasks.js
  src/handlers/task-lifecycle/checkResolvedTasks.js
  src/handlers/task-lifecycle/checkTasksAwaitingReview.js
  src/handlers/task-lifecycle/checkTasksInDispute.js
  src/handlers/task-lifecycle/fullSync.js
  src/handlers/task-lifecycle/index.js
  src/handlers/user-settings/getUserSettings.js
  src/handlers/user-settings/index.js
  src/linguo-api/generateTaskUrl.js
  src/linguo-api/index.js
  src/off-chain-storage/userSettings.js
  src/off-chain-storage/utils/index.js
  src/services/email-notifications/getUnsubscribeSignerAccount.js
  src/services/email-notifications/index.js
  src/services/email-notifications/notifyFromEvent.js
  src/services/email-notifications/unsubscribe.js
  src/shared/account.js
  src/shared/promise.js
  src/shared/sendgrid.js
  tromazo-subscription-ids.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

docs: added README
  README.md
Due: prettier --write

feat: added on-chain event listeners for Linguo
  .env.example
  .node-version
  package.json
  serverless.yml
  src/handlers/email-notifications/index.js
  src/handlers/events-webhook/index.js
  src/handlers/on-chain-events/checkEvents.js
  src/handlers/on-chain-events/index.js
  src/handlers/task-lifecycle/checkNewTasks.js
  src/handlers/task-lifecycle/checkResolvedTasks.js
  src/handlers/task-lifecycle/index.js
  src/handlers/user-settings/index.js
  src/handlers/user-settings/removeUserSettings.js
  src/linguo-api/apiInstancesByAddress.js
  src/linguo-api/createApiFacade.js
  src/linguo-api/createApiInstance.js
  src/linguo-api/generateTaskUrl.js
  src/linguo-api/getTaskUrl.js
  src/linguo-api/index.js
  src/message-bus/eventsMessageBus.js
  src/message-bus/index.js
  src/services/email-notifications/getUnsubscribeSignerAccount.js
  src/services/email-notifications/notifyFromEvent.js
  src/services/email-notifications/unsubscribe.js
  src/shared/promise.js
  src/shared/web3.js
  tromazo-subscription-ids.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: update .env.example to match the latest config
  .env.example
Due: none

docs: remove section about Tromazo
  README.md
Due: prettier --write

fix: xdai bot bad config
  serverless.yml
Due: none

docs: add xDAI stages to README
  README.md
Due: prettier --write

feat: added PITR config to DynamoDB tables
  serverless.yml
Due: none

Path conditions:
  prettier --write: any of: *.{json,md,html,svg}
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx}
